* {
  margin: 0;
  padding: 0;
}

.head1 {
  background-image: url("../public/images/pattern-bg-desktop.png");
  height: 17rem;
  padding-top: 4rem;
  display: none;
}
.head1 h1 {
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-top: 5rem;
}
.head1 form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.head1 form input {
  width: 80%;
  height: 3.2em;
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  padding-left: 0.7rem;
  border-width: 0.2rem;
  font-size: 1rem;
}
.head1 form img {
  background-color: black;
  padding: 0.5em;
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  width: 1.3rem;
  cursor: pointer;
}

.head2 {
  background-image: url("../public/images/pattern-bg-mobile.png");
  height: 18rem;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.2rem;
}
.head2 h1 {
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-top: 5rem;
}
.head2 form {
  display: flex;
  justify-content: center;
}
.head2 form input {
  width: 80%;
  height: 3.2em;
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  padding-left: 0.7rem;
  border-width: 0.2rem;
}
.head2 form img {
  background-color: black;
  padding: 0.5em;
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  width: 1.3rem;
  cursor: pointer;
}

.display {
  background-color: white;
  position: absolute;
  top: 12rem;
  width: 20rem;
  left: 50%;
  transform: translate(-50%);
  padding: 1rem 0 1rem 0;
  border-radius: 1rem;
  box-shadow: 0rem 0.1rem 0.2rem 0.1rem rgba(129, 128, 128, 0.5);
}
.display .flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.items-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bolder;
  font-size: 1.3rem;
}

.gap {
  gap: 1.6rem;
}

.gap1 {
  gap: 0.1rem;
}

.map {
  height: 100vh;
  z-index: -1;
}

@media (min-width: 368px) {
  .head1 {
    display: block;
  }
  .head1 form input {
    font-size: 1.5rem;
  }
  .head2 {
    display: none;
  }
  .display {
    top: 17rem;
  }
  .display .zom {
    gap: 1rem;
  }
}
@media (min-width: 768px) {
  .head2 {
    display: none;
  }
  .head1 {
    display: block;
  }
  .head1 form input {
    font-size: 1.2rem;
  }
  .display {
    display: flex;
    flex-direction: row;
    width: 80%;
    top: 17rem;
  }
  .display .zom {
    display: flex;
    gap: 1.5rem;
    flex-direction: row;
    padding: 0.3rem 4rem;
  }
  .display .zom .bold {
    font-size: 1.4rem;
  }
  .display .zom .name {
    font-size: 1.3rem;
  }
}
@media (min-width: 1024px) {
  .head1 form {
    height: 3.5rem;
  }
  .head1 form input {
    height: 3.2rem;
    font-size: 3rem;
  }
  .display .zom {
    gap: 4rem;
  }
  .display .zom .bold {
    font-size: 1.7rem;
  }
  .display .zom .name {
    font-size: 1.4rem;
  }
  .display .zom .line {
    width: 0.1rem;
    height: 5.3rem;
  }
}/*# sourceMappingURL=App.css.map */